header {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background: #635985;
}

nav {
  width: 100%;
  display: flex;
  justify-content: end;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a{
  color: #f0f8ff;
  transition: ease .3s;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffbf00;
}