header {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 2rem 2.5rem;
  background: #635985;
  position: fixed;
  z-index: 1;
}

nav {
  width: 100%;
  display: flex;
  justify-content: end;
}

.header-logo a {
  text-decoration: none;
  color: #f0f8ff;
}

.header-logo span {
  color:#FFC300;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li a{
  color: #f0f8ff;
  transition: ease .3s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: #ffbf00;
}