:root {
  --roxo1: #635985;
  --roxo2: #443C68;
  --roxo3: #393053;
  --roxo4: #18122B;
  --roxo5: #7952B3;
  --branco: #E1E8EB;
  --cinza: #343A40;
  --cinza2:#6e767e;
  --cardBorder: .4rem;
  --shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);

  --azul3: #005073;
  --azul4: #0077B6;

  --amarelo1: #FFC300;
  --amarelo2: #F8D347;
  --amarelo3: #F2C94C;
  --laranja1: #FF5733;

  --verde3: #2C5F2D;
}

main {
  height: 100%;
  padding: 6rem 3rem 0 3rem;
  display: flex;
  gap: 1rem;
}

main .main-primary{
  width: 80vw;
  background: var(--roxo2);
  border-radius: var(--cardBorder);
}

main .main-primary > h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 0;
}

#news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 1rem;
  gap: 2rem;
}

.newsCard {
  background: var(--roxo4);
  height: 33rem;
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--cardBorder);
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: ease .3s;
  text-decoration: none;
}

.newsCard:hover{
  scale: 1.02;
}

.newsCard-img {
  width: 100%;
  min-height: 45%;
  position: relative;
}

.newsCard-type {
  background: var(--roxo5);
  color: #18122B;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: .3rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: .7rem 2.5rem;
  transform: translate(-50% , 50% );
  box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.26);
}

.noticia {
  background: var(--azul4);
  color: var(--branco);
}

.artigo {
  background: var(--verde3);
  color: var(--branco);
}

.aviso {
  background: var(--laranja1);
  color: var(--branco);
}

.newsCard-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--cardBorder) var(--cardBorder) 0 0 ;
}

.newsCard-text {
  height: 100%;
  padding: 1rem;
  margin-top: 1rem;
}

.newsTitle {
  color: var(--roxo5);
  text-align: center;
  min-height: 25%;
}

.newsDesc {
  height: 65%;
  padding-top: .6rem;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: #7e7e7e;
  overflow: auto;
}

.newsCard-date {
  position: absolute;
  right: .6rem;
  bottom: .6rem;
  padding: .5rem;
  color: var(--branco);
}

.newsCard-img,
.newsTitle {
  cursor: pointer;
}

#paginate-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}
#paginate-numbers div {
  color: var(--branco);
  font-size: 1.3rem;
  font-weight: 800;
  cursor: pointer;
  transition: all ease .3s;
}

#paginate-numbers div:hover {
  color: var(--laranja1);
}

#paginate-numbers .active {
  color: var(--amarelo1);
}

#Numbers {
  display: flex;
  gap: 1rem;
}
#Numbers div {
  font-size: 1.2rem;
}

main .main-aside {
  max-width: 20vw;
}

.gif img {
  width: 100%;
  margin-bottom: 1rem;
}

.ip {
  width: 100%;
  background: var(--roxo2);
  padding: 1rem;
  border-radius: var(--cardBorder);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.ip h2  {
  color: var(--branco);
  font-size: 1.2rem;
  margin-top: 1rem;
  background: var(--roxo1);
  padding: 1rem;
  border-radius: var(--cardBorder);
  transition: ease .3s;
  cursor: pointer;
  box-shadow: var(--shadow);
  white-space: nowrap;
}
.ip h2 span {
  display: inline-block;
}

.ip h2 input {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.ip h2 i {
  padding-left: .2rem;
}

.ip h2:hover {
  background: var(--branco);
  color: #18122B;
}

.ip .copiado,
.ip .copiado:hover {
  background: rgb(3, 189, 34);
  color: var(--roxo4);
}


.social-networks {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.2rem;
  gap: 1rem;
  background: var(--roxo2);
  border-radius: var(--cardBorder);
}

.social-networks h1{
  text-align: center;
}

.social-networks a {
  color: var(--branco);
  text-decoration: none;
  background: var(--roxo1);
  border-radius: var(--cardBorder);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  transition: ease .3s;
  box-shadow: var(--shadow);
}

.social-networks a:hover {
  background: var(--roxo5);
}

footer {
  margin-top: 10rem;
  height: 10rem;
  background: black;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 520px) {
  main {
    padding: 0;
    padding-top: 4rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 0rem;
  }
  main .main-primary{
    width: 100%;
    border-radius: 0 ;
  }
  #news-container {
    grid-template-columns: 1fr;
  }
  main .main-aside {
    display: block;
    min-width: 100%;
  }
  .gif {
    margin-top: 1rem;
    text-align: center;
  }
  .gif img {
    width: 80%;
  }
  .ip,
  .social-networks{
    border-radius: 0;
    margin: 0;
  }
}

@media screen and (min-width: 520px) and (max-width: 1288px) {
  main {
    padding: 0;
    padding-top: 4rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  main .main-primary{
    width: 60%;
    margin: 0 auto;
  }
  #news-container {
    grid-template-columns: 1fr;
  }
  main .main-aside {
    display: block;
    margin: 0 auto;
    min-width: 60%;
  }
  .gif {
    margin-top: 1rem;
    text-align: center;
  }
  .gif img {
    width: 80%;
  }
}