:root {
    --roxo1: #635985;
    --roxo2: #443C68;
    --roxo3: #393053;
    --roxo4: #18122B;
    --branco: #E1E8EB;
    --cinza: #343A40;
}
/* isso aqui em cima sao variaveis, sao uteis!
    para usar é so colocar algo tipo assim:
    
        color: var(--branco);
*/

body{
    text-align: center;
}



.telalogin{
    border: 10px solid darkorchid;
    padding: 40px;
}


.botoes-container button{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.espaços-container p{
    font-size: 1rem;
}

.text-container {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}